body {
  font-size:1em;
  font-family: sans-serif;
}
canvas {
  width:100%;
  height:100%;
  position:relative;
  z-index:1;
}

#video-controls {
  padding:3px;
  min-height:50px;
  color: #ccc;
  background-color:#000;
  position:relative;
  z-index:2;
  a {
    color: #fff;
    display:inline-block;
    margin:0 4px;
  }
}
